{% extends "base2.html" %}
{% block title %}Main{% endblock %}
{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}

{% block mainbody %}

<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h2>Collections:</h2>
            <br>
            {%if courses%}
            <!-- Project One -->
            {% for course in courses%}
            <div class="row">
                <div class="col-md-5">
                    <a href="/finalproject/course/{{course.course_id}}">
                        <img src="{{course.picture_url}}" height="250" width="300">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>{{ course.course_name }}</h4>
                    <p>Workload:{{course.course_load}}</p>
                    <p><a href="/finalproject/removecollection/{{course.course_id}}" class="btn btn-primary"
                          role="button">Remove</a></p>

                </div>
            </div>
            </br>
            {% endfor %}
            <!-- /.row -->
            {%else%}
            <h4>You have no collection now.</h4>
            {%endif%}

        </div>
    </div>
</div>
{% endblock %}