{% extends "base3.html" %}
{% block content %}
    {% for error in form.errors %}
    <p>{{ error }}</p>
    {% endfor %}
            <form method="post" action="">{% csrf_token %}
            <table>
            <tr>
                <td><label>New password:</label></td>
                <td class="form-control">{{ form.new_password1 }}</td>
                <td class="warning">{{ form.new_password1.errors }}</td>
            </tr>
                <td><label>Confirm password:</label></td>
                <td class="form-control">{{ form.new_password2 }}</td>
                <td class="warning">{{ form.new_password2.errors }}</td>
            <tr>
            </tr>
            </table>
                <button type="submit" value="reset_password">Change</button>
                </form>
{% endblock content %}